.git
.next
node_modules
npm-debug.log
.next-start*.log
tmp
tmp/
*.tmp
*.log
Dockerfile
docker-compose.yml
docker-compose.prod.yml
docker-compose.ip.yml
.env
.env.local
.env.production
public/exports
public/uploads
exports-prive
graphify-out
CamScanner*.pdf
image.png
WhatsApp Image*.jpeg
